* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman;
}

.printing-area {
    width: 80%;
    margin: 20px auto;
}

.printing-area .header {
    width: 100%;
    height: 150px;
    background-color: rgb(80, 107, 180);
    display: flex;
    align-items: center;
    position: relative;
    border: 5px solid rgb(143, 130, 185)
}

.header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 65px;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%);
}

.header img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.text {
    color: white;
    width: 50%;
    margin-left: auto;
}

.text h1 {
    font-size: 60px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.left-area {
    width: 32.5%;
    background-color: rgb(236, 236, 236);
    text-align: centre;
}

.left-area .contact {
    margin-top: 130px;
    padding: 0 30px;
}

.contact h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.contact h5 {
    font-size: 15px;
    margin: 5px 0;
}

.contact p {
    color: blue;
}

.skills {
    margin-top: 30px;
    padding: 0 30px;
}

.skillsh4 {
    font-weight: bold;
}

.bars {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
    padding: 0 20px;
}

.bars .bar p {
    font-size: 15px;
    font-weight: bold;
}

.bar span {
    display: block;
    width: 100%;
    height: 10px;
    background-color: blue;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

.follow {
    padding: 0 30px;
    margin-top: 30px;
}

.follow h5 {
    margin-top: 10px;
}

.follow p {
    margin-top: 10px;
    color: blue;
}

.right-area {
    width: 50%;
    padding: 50px;
}

.carrer p {
    color: rgb(75, 74, 74);
}

.carrer:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 20px rgba(50, 105, 167, 0.5);
}

.work:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 20px rgba(50, 105, 167, 0.5);
}

table:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 20px rgba(50, 105, 167, 0.5);
}

table {
    margin-top: 15px;
    border: dashed black;
    padding: 15px;
}

td {
    padding: 2px;
    border: 1px solid blue;
}

.right-area p {
    padding: 10px;
    text-align: justify;
}

summary {
    margin-top: 15px;
    font-weight: bold;
    padding: 10px;
}

details:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 20px rgba(50, 105, 167, 0.5);
}

footer {
    align-items: center;
}

.footer p {
    font-size: large;
    font-weight: bolder;
    float: right;
    padding-right: 40px;
    color: rgb(216, 60, 60);
}